.works-content {
  padding: 0 50px;
}

.works__title {
  font-size: 64px;
  margin-bottom: 20px;
}

.works-nav {
  display: flex;
  margin-bottom: 30px;
}

.works-nav__item {
  font-size: 24px;
  font-weight: bold;
  color: #c6c6c6;
  margin-right: 30px;
  cursor: pointer;
}

.works-nav__item:hover {
  color: #ffb500;
  transition: all 0.2s;
}

.wrapper-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-work {
  background-color: #f8f8f8;
  width: 47.5%;
  /* max-width: 480px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 50px;
}

.work__tag {
  width: fit-content;
  margin-top: 20px;
  padding: 2px 10px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.work__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.work__info {
  width: fit-content;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper-work img {
  width: 100%;
}


@media screen and (max-width: 1023px) {
  .works-nav {
    justify-content: center;
  }
  .works__title {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .wrapper-works {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .wrapper-work {
    min-width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .works-content {
    padding: 0 0;
  }
  .works__title {
    font-size: 48px;
  }
  .works-nav__item {
    font-size: 20px;
  }
  .work__title {
    font-size: 20px;
  }
  .wrapper-work {
    width: 75%;
    min-width: 300px;
  }
}
